h1 {
    margin: 0;
    color: white;
    padding: 24px;
    /* background: linear-gradient(to right, lightseagreen, green); */
    background: linear-gradient(to right, rgb(243, 8, 47), purple);
    margin-bottom: 1px;
  }
  
  .fixify {
    position:sticky;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    display: flex;
  }
  
  .beautify {
    color: white;
    background: linear-gradient(to right, rgb(162, 226, 162), rgb(36, 10, 169));
    background: linear-gradient(to right, rgb(212, 45, 73), rgb(18, 189, 75));
    margin-bottom: 2px;
    height: 150px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }